@keyframes squareToSmallSquare {
	20% {
		@include defaultSquare();
	}
	
	50% {
		height: 20px;
		margin: 15px 0 0 15px;
		width: 20px;
	}
	
	80% {
		@include defaultSquare();
	}
}

@keyframes squareToSmallCircle {
	20% {
		@include defaultSquare();
	}
	
	50% {
		@include smallCircle();
	}
	
	80% {
		@include defaultSquare();
	}
}

@keyframes moveTopLeftClockwise {
	0% {
		@include coordinateTopLeft();
	}
	
	25% {
		@include coordinateTopRight();
	}
	
	50% {
		@include coordinateBottomRight();
	}
	
	75% {
		@include coordinateBottomLeft();
	}
	
	100% {
		@include coordinateTopLeft();
	}
}

@keyframes moveTopRightClockwise {
	0% {
		@include coordinateTopRight();
	}
	
	25% {
		@include coordinateBottomRight();
	}
	
	50% {
		@include coordinateBottomLeft();
	}
	
	75% {
		@include coordinateTopLeft();
	}
	
	100% {
		@include coordinateTopRight();
	}
}

@keyframes moveBottomRightClockwise {
	0% {
		@include coordinateBottomRight();
	}
	
	25% {
		@include coordinateBottomLeft();
	}
	
	50% {
		@include coordinateTopLeft();
	}
	
	75% {
		@include coordinateTopRight();
	}
	
	100% {
		@include coordinateBottomRight();
	}
}

@keyframes moveBottomLeftClockwise {
	0% {
		@include coordinateBottomLeft();
	}
	
	25% {
		@include coordinateTopLeft();
	}
	
	50% {
		@include coordinateTopRight();
	}
	
	75% {
		@include coordinateBottomRight();
	}
	
	100% {
		@include coordinateBottomLeft();
	}
}

@keyframes moveCircleTopLeftClockwise {
	0% {
		transform: rotate(0deg) translateX(-30px) translateY(-30px);
	}
	
	20% {	
		@include defaultSquare();
	}
	
	30% {
		@include smallCircle();
		
		transform: rotate(0deg) translateX(-30px) translateY(-30px);
	}
	
	70% {
		@include smallCircle();
		
		transform: rotate(360deg) translateX(-30px) translateY(-30px);
	}
	
	80% {		
		@include defaultSquare();
	}
	
	100% {
		transform: rotate(360deg) translateX(-30px) translateY(-30px);
	}
}

@keyframes moveCircleTopRightClockwise {
	0% {
		transform: rotate(0deg) translateX(30px) translateY(-30px);
	}
	
	20% {	
		@include defaultSquare();
	}
	
	30% {
		@include smallCircle();
		
		transform: rotate(0deg) translateX(30px) translateY(-30px);
	}
	
	70% {
		@include smallCircle();
		
		transform: rotate(360deg) translateX(30px) translateY(-30px);
	}
	
	80% {		
		@include defaultSquare();
	}
	
	100% {
		transform: rotate(360deg) translateX(30px) translateY(-30px);
	}
}

@keyframes moveCircleBottomRightClockwise {
	0% {
		transform: rotate(0deg) translateX(30px) translateY(30px);
	}
	
	20% {	
		@include defaultSquare();
	}
	
	30% {
		@include smallCircle();
		
		transform: rotate(0deg) translateX(30px) translateY(30px);
	}
	
	70% {
		@include smallCircle();
		
		transform: rotate(360deg) translateX(30px) translateY(30px);
	}
	
	80% {		
		@include defaultSquare();
	}
	
	100% {
		transform: rotate(360deg) translateX(30px) translateY(30px);
	}
}

@keyframes moveCircleBottomLeftClockwise {
	0% {
		transform: rotate(0deg) translateX(-30px) translateY(30px);
	}
	
	20% {	
		@include defaultSquare();
	}
	
	30% {
		@include smallCircle();
		
		transform: rotate(0deg) translateX(-30px) translateY(30px);
	}
	
	70% {
		@include smallCircle();
		
		transform: rotate(360deg) translateX(-30px) translateY(30px);
	}
	
	80% {		
		@include defaultSquare();
	}
	
	100% {
		transform: rotate(360deg) translateX(-30px) translateY(30px);
	}
}