
// Colors
$colorRed: #F25022;
$colorGreen: #7FBA00;
$colorBlue: #01A4EF;
$colorYellow: #FFB901;
$colorDarkBlue: #0B4B6F;

$colorPrimaryFont: #737373;

// Sizes
$heightSquare: 50px;
$offsetSquare: 55px;
$widthSquare: 50px;

// Fonts
$primaryFont: "Segoe UI", Arial, Helvetica, sans-serif;
